--- dragon-1.0
--- eex
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta property="og:locale" content="en_US">
<meta property="og:url" content="<%= @site.url %>" />
<link rel="canonical" href="<%= @site.url %>" />
<meta property="og:site_name" content="<%= @site.name %>" />
<meta property="og:title" content="<%= @site.name %>" />
<meta name="og:type" content="website" />
<title><%= @site.name %></title>
<link rel="icon" href="<%= path "/assets/img/favicon.svg" %> ">
<link rel="stylesheet" href="<%= path "/assets/css/main.css" %>">
<link rel="stylesheet" href="<%= path "/assets/css/plain.css" %>">
<script defer src="<%= path "/assets/js/index.js" %>"></script>
</head>
